
<nav class="navbar navbar-expand-lg color-gris-web shadow-lg">
      <a class="navbar-brand">
  <img class="Server-select responsive-img" src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>.png"  alt="<%=guild.name%>">
    <b><%= guild.name%></b>
  </a>
<div class="collapse navbar-collapse">
<ul class="navbar-nav">
              <li class="nav-item"><button class="nav-links btn font-weight-bolder" id="opciones">Opciones</button></li>
              <li class="nav-item"><button class="nav-links btn font-weight-bolder" id="datos">Estadisticas</button></li>
              <li class="nav-item"><button class="nav-links btn font-weight-bolder" id="leaderboard">Leaderboard</button></li>
            </ul>
  </div>
</nav>